[Unit]
Description=The PHP 7.4 Xdebug FastCGI Process Manager
Documentation=man:php-fpm7.4(8)
After=network.target

[Service]
Type=notify
Environment=PHPRC=/etc/php/7.4xdbg/fpm
Environment=PHP_INI_SCAN_DIR=/etc/php/7.4xdbg/fpm/conf.d
ExecStart=/usr/sbin/php-fpm7.4 --nodaemonize --fpm-config /etc/php/7.4xdbg/fpm/php-fpm.conf
ExecStartPost=-/usr/lib/php/php-fpm-socket-helper install /run/php/php-fpm.sock /etc/php/7.4xdbg/fpm/pool.d/www.conf 74
ExecStopPost=-/usr/lib/php/php-fpm-socket-helper remove /run/php/php-fpm.sock /etc/php/7.4xdbg/fpm/pool.d/www.conf 74
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
