[Unit]
Description=The PHP 8.0 Xdebug FastCGI Process Manager
Documentation=man:php-fpm8.0(8)
After=network.target

[Service]
Type=notify
Environment=PHPRC=/etc/php/8.0xdbg/fpm
Environment=PHP_INI_SCAN_DIR=/etc/php/8.0xdbg/fpm/conf.d
ExecStart=/usr/sbin/php-fpm8.0 --nodaemonize --fpm-config /etc/php/8.0xdbg/fpm/php-fpm.conf
ExecStartPost=-/usr/lib/php/php-fpm-socket-helper install /run/php/php-fpm.sock /etc/php/8.0xdbg/fpm/pool.d/www.conf 80
ExecStopPost=-/usr/lib/php/php-fpm-socket-helper remove /run/php/php-fpm.sock /etc/php/8.0xdbg/fpm/pool.d/www.conf 80
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
