[Unit]
Description=The PHP 8.3 Xdebug FastCGI Process Manager
Documentation=man:php-fpm8.3(8)
After=network.target

[Service]
Type=notify
Environment=PHPRC=/etc/php/8.3xdbg/fpm
Environment=PHP_INI_SCAN_DIR=/etc/php/8.3xdbg/fpm/conf.d
ExecStart=/usr/sbin/php-fpm8.3 --nodaemonize --fpm-config /etc/php/8.3xdbg/fpm/php-fpm.conf
ExecStartPost=-/usr/lib/php/php-fpm-socket-helper install /run/php/php-fpm.sock /etc/php/8.3xdbg/fpm/pool.d/www.conf 83
ExecStopPost=-/usr/lib/php/php-fpm-socket-helper remove /run/php/php-fpm.sock /etc/php/8.3xdbg/fpm/pool.d/www.conf 83
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
